{% for key,val in data.items() %}
    <div class="form-floating mb-3">
        {% if (currentUrl.endswith("/new") and not val['readonly']) or ("/showOne" in currentUrl) %}
        <input class="form-control" type="text" name="{{ key }}" id="{{ key }}"
            {% if item %}
                {% if val['readonly'] %}
                    readonly="readonly"
                {% endif %}
                value="{{ item[key] }}"
            {% endif %}
            title="{{ val['title'] }}"
            placeholder="{{ val['title'] }}" />
        <label for="{{ key }}" class="form-label">{{ val['label'] }}</label>
        {% endif %}
    </div>
{% endfor %}
