{% extends "../base.html" %}
{% block content %}
   <div>
      <table class="table table-striped table-hover table-bordered table-sm">
         <caption>{{ listCaption }}</caption>
         <thead>
            <tr>
               {% for key,val in data.items() %}
                  <th scope="col">{{ val["label"] }}</th>
               {% endfor %}
               <th scope="col">Delete</th>
            </tr>
         </thead>

         <tbody class="table-group-divider">
            {% for item in items %}
               <tr>
                  {% for key,val in data.items() %}
                     {% if key == "id" %}
                        <th scope="row"><a href="{{ relativeUrl }}/show/{{ item[key] }}">{{item[key]}}</a></td>
                     {% else %}
                        <td>{{ item[key]}}</td>
                     {% endif %}
                  {% endfor %}
                  <td><a href="{{ relativeUrl }}/delete/{{ item['id']}}">del</a></td>
               </tr>
            {% endfor %}
         </tbody>

      </table>
   </div>
   <div>
      <a href="{{ relativeUrl }}/new">Add new</a>
   </div>
{% endblock %}
