{% extends "base.html" %}
{% block content %}
    <h1>{{ title }}</h1>

    <form action="" method="POST">
      <div>
        <label for="username" class="form-label">Username</label>
        <input type="text" name="username" id="username" class="form-control"
          placeholder="Username" aria-describedby="helpId" />
      </div>

      <div>
        <label for="password" class="form-label">Password</label>
        <input type="password" name="password1" id="password1"
          class="form-control" placeholder="Password" aria-describedby="helpId" />
      </div>

      <div>
        <label for="password" class="form-label">Password</label>
        <input type="password" name="password2" id="password2" class="form-control"
          placeholder="Retype Password" aria-describedby="helpId" />
      </div>
      <button type="submit" class="btn btn-secondary">Sign Up</button>
    </form>

    <!-- Login -->
    <br />
    <a href="/login">
      <button type="button" class="btn btn-secondary">Login</button>
    </a>
{% endblock %}
