{% for key,val in data.items() %}
    <div class="form-floating mb-3">
        <input class="form-control" type="text" name="{{ key }}" id="{{ key }}"
            {% if item %}
                {% if key == "id" %}
                    readonly="readonly"
                {% endif %}
                value="{{ item[key] }}"
            {% endif %}
            title="{{ val['title'] }}"
            placeholder="{{ val['title'] }}" />
        <label for="{{ key }}" class="form-label">{{ val['label'] }}</label>
    </div>
{% endfor %}
